@media(max-width: 600px){
    html{
        font-size: 90%;
    }
    .cards{
        flex-direction: column;
    }
}

@media(min-width: 601px)and (max-width: 900px){
    html{
        font-size: 110%;
    }
    .cards{
        flex-direction: column;
    }
}